version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: catering_frontend
    ports:
      - "5173:5173"
    volumes:
      # Mount source code for hot reload
      - .:/app
      # Prevent node_modules from being overwritten
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_API_BASE_URL=https://sezginyurdakul.com/catering_api
    stdin_open: true
    tty: true
    networks:
      - catering-network

networks:
  catering-network:
    driver: bridge
